{% extends 'base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{% block title %}Registrar usuario{% endblock %}</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                            <input type="text" class="form-control" id="username" name="username" required minlength="4" maxlength="20" placeholder="username">
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                            <input type="password" class="form-control" id="password" name="password" required minlength="6" maxlength="40" placeholder="password">
                        </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Registrar usuario" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}